<div class="main-content mat-typography">
  <div class="section-content section-content-p30">

    <a routerLink="/new/question" class="btn btn-primary" style="margin-bottom: 15px">Ask a question</a>

    <table class="table table-striped">

      <tbody>

      <tr *ngFor="let tempQuestion of questions">

        <td class="align-middle">
        <div style="margin-left: 10px;">

            <div style="margin-left: 10px; display: flex; flex-direction: row; align-items: baseline; justify-content: start;">
              <h2>{{tempQuestion.title}}</h2>
              <p *ngIf="tempQuestion.user.bannedStatus == 0"style="margin-left: 10px">by {{tempQuestion.user.name}}
              (score: {{tempQuestion.user.userScore}})</p>
              <p *ngIf="tempQuestion.user.bannedStatus != 0"style="margin-left: 10px">by <em class="italic-text">Banned User</em></p>
            </div>

            <div>
              <button *ngFor="let tag of tempQuestion.questionTags" routerLink="/questions/tag/{{tag.title}}"
                      class="btn btn-outline-primary" style="margin-right: 10px">{{tag.title}}</button>
            </div>

          </div>
        </td>

        <td class="align-middle">
          <a routerLink="/questions/{{ tempQuestion.questionId }}" class="primary-btn">See Question</a>
        </td>


        <td class="align-middle">
          <div *ngIf="tempQuestion.user.name != (user?.name)" style="display: flex; flex-direction: column; align-items: center;">
            <a class="vote-btn" (click)="addLike(tempQuestion.questionId)">
              <img alt="Like" src="assets/img/triangleUpBlack.png" width="20">
            </a>
            <h3>{{tempQuestion.score}}</h3>
            <a class="vote-btn" (click)="addDislike(tempQuestion.questionId)">
              <img alt="Dislike" src="assets/img/triangleDownBlack.png" width="20">
            </a>
          </div>
<!--          <div *ngIf="tempQuestion.user.name == (user?.name)" style="display: flex; flex-direction: column; align-items: center;">-->
<!--            <button class="btn btn-outline-primary" style="width: 70px">Edit</button>-->
<!--            <button class="btn btn-outline-primary" style="width: 70px;margin-top: 5px;">Delete</button>-->
<!--          </div>-->
        </td>

      </tr>

      </tbody>

    </table>

  </div>
</div>
