<div class="main-content">
  <div class="container-fluid">

    <table style="width: 100%;">
      <tr>
        <td>
          <h1>{{ question.title }}</h1>
          <p>Posted by {{ question.author }} at {{ question.dateCreated }}.</p>
        </td>
        <td style="text-align: right;">
          <div style="display: flex; flex-direction: column; align-items: center;">
            <button *ngIf="question.author == 'Maria Gliga'" class="btn btn-outline-primary" style="width: 150px">Edit question</button>
            <button *ngIf="question.author == 'Maria Gliga'" class="btn btn-outline-primary" style="width: 150px;margin-top: 5px;">Delete question</button>
          </div>
        </td>
      </tr>
    </table>

    <hr>

    <div style="margin-top: 10px">
      <button routerLink="/questions" class="btn btn-outline-primary">Corgi</button>
      <button routerLink="/questions" class="btn btn-outline-primary btn-padding">Pez</button>
      <button routerLink="/questions" class="btn btn-outline-primary btn-padding">Pret</button>
    </div>

    <p style="margin-top: 10px">{{ question.questionText }}</p>


    <form>
        <mat-form-field style="width: 500px">
          <mat-label>Add answer</mat-label>
          <input matInput>
        </mat-form-field>

      <button class="btn btn-primary" style="margin-bottom: 15px; margin-left: 15px;">Answer</button>
    </form>

    <div>
      <app-answer-list></app-answer-list>
    </div>

  </div>
</div>
