<div class="page-wrapper">

  <!-- MENU SIDEBAR-->
  <div *ngIf="router.url !== '/login'">
  <aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
      <a href="#">
        <img src="assets/img/logo.png" alt="stackoverflow" class="img-responsive">
      </a>
    </div>
    <div class="menu-sidebar-content js-scrollbar1">
      <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar-list">
          <li>
            <a routerLink="/tags" routerLinkActive="active-link">Tags</a>
          </li>
          <li>
            <a routerLink="/questions" routerLinkActive="active-link">All questions</a>
          </li>
          <li>
            <a routerLink="/users" routerLinkActive="active-link">Users</a>
          </li>
          <li>
            <a routerLink="/questions/user/Maria" routerLinkActive="active-link">My Questions</a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
  </div>

  <!-- END MENU SIDEBAR-->

  <!-- PAGE CONTAINER-->
  <div class="page-container">

    <!-- HEADER DESKTOP-->
    <div *ngIf="router.url !== '/login'">
    <header class="header-desktop">
      <div class="section-content section-content-p30">
        <div class="container-fluid">
          <div class="header-wrap">

            <app-search></app-search>

            <div class="cart-area d-n">
              <a class="vote-btn" href="#">
                <img alt="Account" src="assets/img/account.png" width="40">
              </a>
            </div>

          </div>
          <div class="account-wrap"></div>
        </div>
      </div>
    </header>
    </div>
    <!-- END HEADER DESKTOP-->

    <!-- MAIN CONTENT-->
    <div>
      <router-outlet></router-outlet>
    </div>

  </div>

</div>
